@font-face {
    font-family: 'MontserratRegular';
    src: url("./montserrat-regular.eot");
    src: url("./montserrat-regular.eot?#iefix") format('embedded-opentype'), url("./montserrat-regular.woff") format('woff'), url("./montserrat-regular.ttf") format('truetype'), url("./montserrat-regular.svg#MontserratRegular") format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: url("./montserrat-bold.eot");
    src: url("./montserrat-bold.eot?#iefix") format('embedded-opentype'), url("./montserrat-bold.woff") format('woff'), url("./montserrat-bold.ttf") format('truetype'), url("./montserrat-bold.svg#MontserratBold") format('svg');
    font-style: normal;
    font-weight: bold;
}

label {
    font: 14px "MontserratRegular", Helvetica, Arial, sans-serif;
}

p.text-panel {
    padding: 10px 15px 10px 15px;
}

p.text-panel.text-panel-boxed {
    padding: 10px 15px 10px 15px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

a {color: #00B7FF;}
ul {list-style-type: none;}
ul.exercise-list {padding:20px 10px 20px 10px;line-height: 18px;}
ul.exercise-list li{position:relative;padding-bottom:10px;}
ul.exercise-list li label{cursor:pointer;padding-left: 10px; font-size: 10px;}
