.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
}
body {
    background-color: #eeeeee;
}

.jumbotron-white{
    background-color: #ffffff;
    min-height: 500px;
}

.form-group.required .control-label:before {
    content:"*";
    color:red;
}