.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
}
body {
    background-color: #eeeeee;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.jumbotron.jumbotron-white {
    background-color: #ffffff;
    min-height: 500px;
}

.jumbotron.jumbotron-white p{
    font-size: 14px;
}

.jumbotron.jumbotron-white .panel {
    margin-left: 20px;
    margin-right: 20px;
}

.panel-body .btn {
    margin: 5px 0 5px 0;
}

.jumbotron .jumbotron-hint {
    margin-top: -30px;
}

.form-group.required .control-label:before {
    content:"*";
    color:red;
}

#positive-reinforcement img {
    width: 28px;
    position: absolute;
    top: 3px;
    left: 14px;
    cursor: pointer;
}

.progress {
    margin-top: 5px;
}

#hintMessage {
    margin: 0 15px 10px 15px;
}