doctype html
html
    head
        include ../head
        link(rel='stylesheet', href='/stylesheets/offcanvas.css')
    body
        include ../navbar
        .container
            .row
                h3 Welcome, #{mail}
            .row

            .row
                .list-group
                    a.list-group-item.active(href='/users/profile') 基本信息
                    a.list-group-item(href='/exercises/create') 创建题目
                    a.list-group-item(href='/exercises') 我的题目(TBC)
                    a.list-group-item(href='/exercises/words') 单词控制台
                    a.list-group-item(href='/exercises/words/memorizing') 今日单词
                    a.list-group-item(href='/exercises/words/create') 创建单词
                    a.btn.btn-block.btn-danger(href='/users/logout') 注销

        script(src='/javascripts/require.js' async='true' defer data-main='/javascripts/users/profile.js')


