doctype html
html
    head
        include ../head
    body
        include ../navbar
        .container
            .row
                h3.text-center 欢迎, #{mail}
            .row
                .col-lg-6.col-center-block
                    a.btn.btn-block.btn-success(href='/users/link-user' style='margin-bottom: 10px;') 设置关联账号
            .row
                .col-lg-6.col-center-block
                    .list-group
                        a.list-group-item.active(href='/users/profile') 基本信息
                        a.list-group-item(href='/exercises/create') 创建题目
                        a.list-group-item(href='/exercises') 我的题目(TBC)
                        a.list-group-item(href='/exercises/words') 单词控制台
                        a.list-group-item(href='/exercises/words/memorizing') 今日单词
                        a.list-group-item(href='/exercises/words/create') 创建单词
            .row
                .col-lg-6.col-center-block
                    a.btn.btn-danger.btn-block(href='/users/logout') 注销

        script(src='/javascripts/require.js' async='true' defer data-main='/javascripts/users/profile.js')


