//
   Created by wizard on 12/6/16.
doctype html
html
    head
        include ../head
        link(rel='stylesheet', href='/stylesheets/exercises.css')
        link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css')
        link(rel='stylesheet', href='http://cdn.bootcss.com/calendar-heatmap/0.4.1/calendar-heatmap.min.css')
        script(src='http://cdn.bootcss.com/d3/3.5.17/d3.min.js')
        script(src='http://cdn.bootcss.com/moment.js/2.17.0/moment.min.js')
        script(src='http://cdn.bootcss.com/moment.js/2.17.0/locale/zh-cn.js')
        include calendarsTmpl
    body
        include ../navbar
        .container
            .page-header
                h3#pageHeader #{mail}的学生 #{punchingType} 的打卡记录
                #messageAlert
            .jumbotron.jumbotron-white
                #panels(data= "#{punchingType}")

        script(src='http://cdn.bootcss.com/require.js/2.3.2/require.min.js' async='true' defer data-main='/javascripts/exercises/punching.records.js')


