//
   Created by wizard on 10/25/16.

extends layout

block content
    .container
        .row.col-xs-12
            h3 添加新题目

        form.form-horizontal(role='from')
            .form-group
                label.col-sm-2.control-label(for='inputTitle') Title
                .col-sm-10
                    input.form-control#inputTitle(type='text')
            .form-group
                label.col-sm-2.control-label(for='inputDescription') Description
                .col-sm-10
                    textarea.form-control#inputDescription(rows='4')
            .form-group
                label.col-sm-2.control-label(for='optionA') A
                .col-sm-10
                    input.form-control#optionA(type='text')
            .form-group
                label.col-sm-2.control-label(for='optionB') B
                .col-sm-10
                    input.form-control#optionB(type='text')
            .form-group
                label.col-sm-2.control-label(for='optionC') C
                .col-sm-10
                    input.form-control#optionC(type='text')
            .form-group
                label.col-sm-2.control-label(for='optionD') D
                .col-sm-10
                    input.form-control#optionD(type='text')
            .form-group
                label.col-sm-2.control-label(for='answer') Answer
                .col-sm-10
                    input.form-control#answer(type='text' placeholder='0 or 1 or 2 or 3')
            .form-group
                label.col-sm-2.control-label(for='hint') Hint
                .col-sm-10
                    input.form-control#hint(type='text')
            .form-group
                label.col-sm-2.control-label(for='tag') Tag
                .col-sm-2
                    input.form-control#tag(type='text' placeholder='tag1; tag2')
                label.col-sm-2.control-label(for='selectType') Type
                .col-sm-2
                    select#selectType.form-control
                        option 选择题
                        option 填空题
            button.btn.btn-success.btn-large.col-sm-4.col-center-block(type='submit') Submit