//   Created by wizard on 10/21/16.

link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
script(src='/jquery/dist/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
link(rel='stylesheet', href='/icheck/skins/square/green.css')
script(src='/icheck/icheck.js')
link(rel='stylesheet', href='/stylesheets/exercises.css')

