//   Created by wizard on 10/21/16.
title= title
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
script(src='/jquery/dist/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
link(rel='stylesheet', href='/stylesheets/style.css')
//-link(rel='stylesheet', href='/icheck/skins/square/green.css')
//-script(src='/icheck/icheck.js')
//-link(rel='stylesheet', href='/stylesheets/exercises.css')

