//
   Created by wizard on 10/22/16.

extends layout

block content
    .container.exercise-section
        .lead
            h1 Hello World
            ul.list-group-item-text
                li
                    input#check2(type='radio', name='iCheck')
                    label(for='check2') check2
                li
                    input#check1(type='radio', name='iCheck')
                    label(for='check1') check1

    script.
        $(document).ready(function () {
            $('input').iCheck({
                radioClass: 'iradio_square-green',
                increaseArea: '20%'
            });

            $('input').on('ifChecked', event => {
                alert(event.type + ' callback');
            });
        });