extends layout

block content
    .container
        .jumbotron
            h3.text-success welcome

        .row.col-lg-2.col-lg-offset-5
            a.btn.btn-block.btn-warning(href='/users/logout') 注销
