//
   Created by wizard on 11/1/16.
doctype html
html
    head
        include ../../head
    body
        include ../../navbar
        .container
            .row
                .col-lg-9
                    h3 控制台
                    #messageAlert
                    #content
                #sidebar.col-lg-3
                    .row
                        p 输入新单词后，需要点击"更新"去同步新单词到单词库
                    .row
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title 单词
                            .panel-body
                                button#updateWordsBankButton.btn.btn-block.btn-success 更新

        script(src='/javascripts/require.js' async='true' defer data-main='/javascripts/exercises/words/home.js')

