//
   Created by wizard on 11/1/16.
doctype html
html
    head
        include ../../head
    body
        include ../../navbar
        .container
            .page-header
                h3 今日单词
            .jumbotron.jumbotron-white
                #content
                    button#startMemorizing.btn.btn-success.center-block(type='button') 开始

        script(src='/javascripts/require.js' async='true' defer data-main='/javascripts/exercises/words/memorizing.js')

