//
   Created by wizard on 11/1/16.
doctype html
html
    head
        include ../../head
        link(rel='stylesheet', href='http://cdn.bootcss.com/iCheck/1.0.2/skins/line/green.css')
        link(rel='stylesheet', href='/stylesheets/exercises.css')
        script(src='http://cdn.bootcss.com/iCheck/1.0.2/icheck.min.js')
        include memorizingTmpl
    body
        include ../../navbar
        .container
            .page-header
                h3 今日单词
                #messageAlert
            .jumbotron.jumbotron-white
                .row
                    #content
                #progress.row
                    .col-lg-1
                        h6#totalNumber.
                    .col-lg-8.col-lg-offset-1
                        .progress
                            #progressbar.progress-bar.progress-bar-success(aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")

        script(src='http://cdn.bootcss.com/require.js/2.3.2/require.min.js' async='true' defer data-main='/javascripts/exercises/words/memorizing.js')

