//
   Created by wizard on 11/1/16.
doctype html
html
    head
        include ../../head
        link(rel='stylesheet', href='/icheck/skins/square/green.css')
        link(rel='stylesheet', href='/stylesheets/exercises.css')
        script(src='/icheck/icheck.js')
        include memorizingTmpl
    body
        include ../../navbar
        .container
            .page-header
                h3 今日单词
            .jumbotron.jumbotron-white
                #content

        script(src='/javascripts/require.js' async='true' defer data-main='/javascripts/exercises/words/memorizing.js')

