//
   Created by wizard on 11/3/16.
script#inspection-template(type="text/x-handlebars-template").
    {{#each this}}
    <div id="progress_panel_{{@index}}">
    </div>
    {{/each}}

script#startMemorizing-template(type="text/x-handlebars-template")
    p#message.text-center.text-primary.jumbotron-hint 请开始
    button#startMemorizing.btn.btn-success.center-block(type='button') 开始

script#wordExercise-template(type="text/x-handlebars-template").
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>{{title}}</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <h5>{{description}}</h5>
                        <ul class="exercise-list">
                            {{#each options}}
                            <li class="exercise-section">
                                <input id="{{../_id}}_{{@index}}" type="radio" name="{{../_id}}"/>
                                <label for="{{../_id}}_{{@index}}">{{this}}</label>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <div class="row" style="margin-bottom: 10px">
                            <audio controls="controls" autoplay="autoplay">
                                <source src="{{audio}}" type="audio/mpeg">
                            </audio>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <button id="showTipsButton" type="button" class="btn btn-warning btn-block">提示</button>
                            </div>
                        </div>
                        <div class="row">
                            <h6 id="hintMessage"></h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <button id="okButton" class="btn btn-success btn-block" type="button">检查答案</button>
                    </div>
                    <div class="col-lg-3" id="nextExerciseContainer">
                        <div id="positive-reinforcement">
                            <image src="/images/face-smiley.png"/>
                        </div>
                        <button id="nextExercise" class="btn btn-warning btn-block" type="button">恭喜，答对了，请继续</button>
                    </div>
                    <div class="col-lg-3">
                        <button id="skipButton" class="btn btn-info btn-block" type="button">我还没有学过这个呢</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 10px">
        <p id="message" class="text-danger"></p>
    </div>


script#wordDetail-template(type="text/x-handlebars-template").
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>单词解释</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <p class="text-left text-panel">单词</p>
                    </div>
                    <div class="col-lg-5">
                        <p class="bg-success text-panel text-panel-boxed">
                            <strong>{{word}}</strong>
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <audio controls="controls">
                            <source src="{{pronunciation}}" type="audio/mpeg">
                        </audio>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 ">
                        <p class="text-left text-panel">单词解释</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="bg-success text-panel text-panel-boxed">
                            <strong>{{explanation}}</strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p class="text-left text-panel">词性</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="bg-warning text-panel text-panel-boxed" text-panel>{{partOfSpeech}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p class="text-left text-panel">例子</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="bg-info text-panel text-panel-boxed">
                            {{example}}
                            <br/>
                            {{exampleExplanation}}
                            <br/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p class="text-left text-panel">其他</p>
                    </div>
                    <div class="col-lg-10">
                        <p class="bg-info text-panel text-panel-boxed">
                            {{others}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <button class="btn btn-success btn-block" type="button" id="nextWordExerciseButton">下一题</button>
        </div>
    </div>

script#celebration-template(type="text/x-handlebars-template").
    <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-3 col-center-block">
            <button id="punchButton_{{index}}" class="btn btn-block btn-danger">帮他打卡</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>{{title}}今日已经完成</h4>
        </div>
        <div class="panel-body">
            {{#each progresses}}
            <div class="row">
                <div class="col-xs-4 col-lg-2">
                    <p id="word" class="text-primary">{{word}}</p>
                </div>
                <div class="col-xs-4 col-lg-6">
                    <p id="explanation">{{explanation}}</p>
                </div>
                <div class="col-xs-4 col-lg-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success"
                             style="width: {{progress}}%;"></div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

script#wordInspection-template(type="text/x-handlebars-template").
    {{#each this}}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" id="calendarName">{{this}}</h3>
            </div>
            <div class="panel-body">
                <div id="calendar_{{@index}}"></div>
            </div>
        </div>
    </div>
    {{/each}}