//
   Created by wizard on 11/1/16.
doctype html
html
    head
        include ../../head
    body
        include ../../navbar
        .container
            .row
                #content.col-lg-9
                    h3 hello

        script(src='/javascripts/require.js' async='true' defer data-main='/javascripts/exercises/words/memorizing.js')

