//
   Created by wizard on 23/12/2016.
doctype html
html
    head
        include ../../head
    body
        include ../../navbar
        .container
            .row
                h3.text-center 欢迎, #{mail}
                #messageAlert
            .row
                #pieChart

        script(src='http://cdn.bootcss.com/require.js/2.3.2/require.min.js' async='true' defer data-main='/javascripts/exercises/words/statistics.js')


